In [ ]:
print('Hello World!!!')

### Variable Naming
- e.g **a = 2** 
 - `a` -> variable
 - `=` -> Assigning
 - `2` -> Value
 
- The `a` variable is saved as `2` in a certain `memory` and could be `called` for any `operation`.

- Rules of **Variables**:
 - `Case Sensitive`, **Sale** != **sale**
 - `Cannot Start with numbers`, **2files** is `wrong`
 - `Use Names close to your Values`
 - `Could be as long as 224 Characters`, i.e, **224 words**

### Basic data types

##### Numbers
- Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print(x)
print(type(x))

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

In [ ]:
x = 6
x += 1    # x = x + 1
print(x)
x *= 2    # x = x * 2
print(x)

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

In [ ]:
z = input('Enter your name: ')
print('your name is: ', z)
print('nice meeting you: ',z)

In [ ]:
print('Can I ask a question?')
age = int(input('what is your age: '))
print('Waoh, Your name is: ', z, 'and you are: ', age, 'years old you will be: ', age + 1, 'next year')

### Operations in Python:
- Mathematical
 - `+` -- **Addition**
 - `-` -- **Sutraction**
 - `*` -- **Multiplication**
 - `/` -- **Normal Division**
 - `//` -- **Floor Division**
 - `%`  -- **Modulus or Remainder Division**
- Logical
 - `>`  -- **Greater Than**
 - `<`  -- **Less Than**
 - `>=` -- **Greater Than Equal To**
 - `<=` -- **Less ThaN Eqaul To**
- Comparisom
  - `!=` -- **Not Equal To**
  - `==` -- **Equal To**

### Booleans

In [ ]:
a = 2
b = 3
a > b

In [ ]:
b > a

In [ ]:
a is b

In [ ]:
b != a

##### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello)
print(len(hello))

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

##### List
- A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

### dictionary

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [ ]:
family = {'Dad': 42, 
          'Mom': 37,
          'Josh': 16,
          'Nancy':14
}

In [ ]:
family

In [ ]:
family.keys()

In [ ]:
list(family.values())

In [ ]:
family.update({'Vivian' : 9, 'Musa' : 7})

In [ ]:
family

#### Sets
- A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
{1, 2, 3} == {3, 2, 1}

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat')    # Remove an element from a set
print(len(animals))

### Slicing
- In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:4] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

### Loops 
- Control Flows
    - if, elif and else
    - For Loop
    - While Loop

#### If, Elif and Else

In [ ]:
if x < 0:
    print('It's negative')

In [ ]:
if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

In [ ]:
score = 30
if score > 30:
    print('greater')
elif score == 30:
    print('Equal')
else:
    print('Lesser')

#### For Loop 
- for value in collection: # do something with value

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i, i**2)

In [ ]:
for i in a:
    j = i**2 +5
    print(j)

In [ ]:
for k in a:
    if k%2==0:
        print(k)

#### List Comprehension
-When programming, frequently we want to `transform one type of data into another`. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [ ]:
#for dictionary

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

#### While Loop
- Just like `For loop`, It check for the condition given and then `iterates` through the range of given values

In [ ]:
c = 10
while c > 0 and c <= 10:
    print(c)
    c += 2

In [ ]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

### Python Library 
- A Python library is a set of `pre-written functions and modules` that extend Python's capabilities, making it easier for developers to `perform common tasks` or `access specific functionality` in their programs. Libraries promote `code reusability` and help streamline the development process by providing a collection of pre-implemented features.

- Example below show how to use a python library
  - `from a import b`
  - `import abc as a`
  - `from abc. d import e`

In [ ]:
#Calculate the Area of a circle of Radius 5cm

#Area of a Circle is pi*r**2

#first we need pi which is in the math library/module

#How do we get it
            # Solution

In [ ]:
pi

In [ ]:
from math import pi

#Yuo can as well say math.pi

radius = 5
area_of_a_circle = pi * radius **2
answer = round(area_of_a_circle, 2)
print('the area of the circle is: ',answer,'cm square')

In [ ]:
import math
math.log(4)

In [ ]:
from math import sin, cos
from math import *
dir(math)

In [ ]:
'''
other library include:
    -- random
    -- Numpy
    -- itertools
    -- counter etc
'''

#### The Def function
- Python functions are defined using the `def keyword`. For example:

In [ ]:
def average(a,b):
    e = a+b
    f = 2
    ave = e/f
    return ave

In [ ]:
average(4,5)

In [ ]:
def sum_and_average(*values):
    total = sum(values)
    average = total / len(values)
    return total, average

In [ ]:
sum_and_average(2,4,6,8,0,1,3)

In [ ]:
total, average = sum_and_average(*values)
print(total); print(average)

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

In [ ]:
def multiplication_table(number, range):
    for i in range(1, range + 1):
        result = number * i
        print(f"{number} x {i} = {result}")

# Example usage:
number = 5  # You can change this to the desired number
table_range = 10  # You can change this to the desired range

multiplication_table(number, table_range)

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Example usage:
celsius_temperature = 25
fahrenheit_temperature = celsius_to_fahrenheit(celsius_temperature)
print(f"{celsius_temperature}°C is equal to {fahrenheit_temperature}°F")

fahrenheit_temperature = 77
celsius_temperature = fahrenheit_to_celsius(fahrenheit_temperature)
print(f"{fahrenheit_temperature}°F is equal to {celsius_temperature}°C")

### BONUS

#### Sorting

In [ ]:
a = [3,6,1,7,9,10,2,5]
a.sort()
a

In [ ]:
my_list = [64, 34, 25, 12, 22, 11, 90]
sorted_list = sorted(my_list)
print("Sorted list:", sorted_list)

In [ ]:
list(reversed(range(10)))

### Zip

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers)
first_names
last_names

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

In [ ]:
range(10)
list(range(10))

In [ ]:
range??

In [ ]:
help(range)

### Date Time

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)

dt.day,dt.minute

In [ ]:
dt.date()
dt.time()

In [ ]:
dt.strftime('%m/%d/%Y %H:%M')

In [ ]:
datetime.strptime('20091031', '%Y%m%d')

In [ ]:
dt.now()

In [ ]:
dt.replace(minute=0, second=0)

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta